main{
    padding-top: 40px;
} 
 h2{
    padding: 30px;
    text-align: center;
    font-weight: 700;
    font-family: $font;
    font-size: 60px;
    color: $colorfont;    
}
@media (max-width:768px){
    h2{
        padding: 20px;
        font-weight: 500;
        font-size: 50px;
    }
}
@media (max-width:768px){
    .carousel-inner{
        width: 400px;
        margin: 30px;
    } 
 }
 @media (max-width:768px){
     .carousel-item img{
         width: 400px;
     }
 }
 .item-card{
       width: 400px;
      
       .card-body{
        font-family: $font;
        font-size: 20px;
        color: $colorfont;
    }
        .item-card p{
        text-align: center;
        font-family: $font;
        font-size: 18px;
        color: $colorfont;
    }
}
.form{
    width: 600px;
    margin: auto;
    font-family: $font;
    font-size: 20px;
    color: $colorfont;
    }
    @media (max-width:768px){
        .form{
            width: 300px;
        }
    } 
.shop {
@extend .nav-items;
}