main{
    padding-top: 40px;
} 
 h1{
    padding: map-get($h1 , padding );
    text-align: map-get($h1 , text-align );
    font-weight:map-get($h1 , font-weight );
    font-family: $font;
    font-size:map-get($h1 , font-size );
    color: $colorfont;    
} 
h2{
    padding: map-get($h1 , padding );
    text-align: map-get($h1 , text-align );
    font-weight:map-get($h1 , font-weight );
    font-family: $font;
    font-size:map-get($h1 , font-size );
    color: $colorfont;     
}   
@media (max-width:768px){
    h2{
        padding: 20px;
        font-weight: 400;
        font-size: 40px;
    }
}
.carousel-inner{
    max-height: 500px;

}
 .carousel-item img{
    width: 600px;
 }
 @media (max-width:768px){
     .carousel-item img{
         width: 400px;
     }
 }
 .item-card{
       width: 
       400px;
 } 
 @media (max-width:768px){
           .item-card{
               width: 300px;
           }
}     
.card-body{
        @include font-propierties(20px,$font,$colorfont);
}
.item-card p{
        text-align: center;
        @include font-propierties(18px,$font,$colorfont);
}
.btn{
    width: 200px;
    background-color: $secondcolor;
    font-size: 20px;
    color: $colorfont;
    font-family: $font;
}
.form{
    width: map-get($form, width );
    margin: map-get($form, margin);
    font-size: map-get($form, font-size );
    color: $colorfont; 
    font-family:$font;
 }
    @media (max-width:768px){
        .form{
            width: 300px;
        }
    }
.btn-form{
    @extend .btn;
    border-radius: 5px;
    border-color: $secondcolor;   
} 
.parrafo{
    text-align: center;
    font-family: $font;
    color: $colorfont;
    font-size: 30px;
}
@media (max-width:768px){
    .parrafo{
        font-size: 20px;
    }
}
.card{
    width: 350px;
}
@media (max-width:768px){
    .card{
        width: 200px;
        margin-left: 50px;
        margin-bottom: 10px;
        justify-content: center;
    }
}

.icon{
width: 60px;
}
.card-title{
    font-family: $font;
    color: $colorfont;
    font-size: 20px;
}
.card-text{
    font-family: $font;
    color: $colorfont;
    font-size: 15px;
}
.table-item{
    font-size:20px;
    font-family: $font;
    color:$colorfont;
    padding:30px;
}
@media (max-width:768px){
    .table-item{
        font-size:15px;
    }
}
tbody{
 padding: 20px;
 border-color:black   
}
tr{
    padding:
    30px;
    color:$colorfontshop;
}
.sale{
    justify-content: center;
}
@media (max-width:768px){
    .sale img{
        width: 150px;
    }
}
