$firstcolor:rgb(220, 249, 249);
$secondcolor:rgb(253, 177, 177);
$thirdcolor:#fdcfcf;
$colorfont:rgb(36, 36, 93);
$font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$h2:(
    padding: 30px,
    text-align: center,
    font-weight: 700,
    font-size: 60px
     )

$form (
    width: 600px,
    margin: auto,
    font-size: 20px
    )