$firstcolor:rgb(220, 249, 249);
$secondcolor:rgb(253, 177, 177);
$colorfont:rgb(36, 36, 93);
$font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     font-family: $font;
  
  
     background-color: $firstcolor;
}
.encabezado{
     background-color: $secondcolor;
     height: 210px;
     width: 100%;
     top: 0;
     left: 0;
     #logo{
        width: 200px;
        padding: 20px;
   }
   .nav{
    display: flex;
    justify-content: space-between;
    }
    .navbar{
        display: flex;
        list-style: none;

    }
    .navbar li{
     font-size: 30px;
     padding: 8px 10px;
    }
    .navbar a{
    color: $colorfont; 
    text-decoration: none;
    border-radius: 10px;
    padding: 8px 12px;
    }
    .navbar ul{
    background-color: $secondcolor;
    }
    #lista{
    padding:50px;
    }
}

main{
    padding-top: 40px;
} 
 h2{
    padding: 30px;
    text-align: center;
    font-weight: 700;
    font-family: $font;
    font-size: 60px;
    color: $colorfont;    
}
 .item-card{
       width: 400px;
       .item-card_1{
        font-family: $font;
        font-size: 20px;
        color: $colorfont;
    }
        .item-card p{
        text-align: center;
        font-family: $font;
        font-size: 18px;
        color: $colorfont;
    }
       .item-card_boton{
        width: 150px;
        height: 30px;
        font-size: 15px;
        color: $colorfont;
        background-color: $secondcolor;
    }
}   
.form{
        font-family: $font;
        font-size: 20px;
        color: $colorfont;
    }


footer{
    background-color:$secondcolor;
}
