.encabezado {
  background-color: #fdb1b1;
  height: 100%;
  width: 100%;
}

.encabezado #logo {
  width: 100px;
}

@media (max-width: 768px) {
  .encabezado #logo {
    width: 90px;
  }
}

.encabezado .nav-link {
  font-size: 25px;
}

@media (max-width: 768px) {
  .encabezado .nav-link {
    font-size: 20px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .encabezado .nav-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

.encabezado .nav-link {
  color: #24245d;
}

.encabezado .nav-link:hover {
  background-color: #fdcfcf;
  border-radius: 6px;
}

.encabezado .dropdown-menu {
  background-color: #fdb1b1;
}

.encabezado .dropdown-item {
  font-size: 25px;
  color: #24245d;
}

.encabezado #lista {
  width: 90px;
  padding: 20px;
}

main {
  padding-top: 40px;
}

h1 {
  padding: 30px;
  text-align: center;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  color: #24245d;
}

h2 {
  padding: 30px;
  text-align: center;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  color: #24245d;
}

@media (max-width: 768px) {
  h2 {
    padding: 20px;
    font-weight: 400;
    font-size: 40px;
  }
}

.carousel-inner {
  max-height: 500px;
}

.carousel-item img {
  width: 600px;
}

@media (max-width: 768px) {
  .carousel-item img {
    width: 400px;
  }
}

.item-card {
  width: 400px;
}

@media (max-width: 768px) {
  .item-card {
    width: 300px;
  }
}

.card-body {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
}

.item-card p {
  text-align: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
}

.btn, .btn-form {
  width: 200px;
  background-color: #fdb1b1;
  font-size: 20px;
  color: #24245d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.form {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: #24245d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

@media (max-width: 768px) {
  .form {
    width: 300px;
  }
}

.btn-form {
  border-radius: 5px;
  border-color: #fdb1b1;
}

.parrafo {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
  font-size: 30px;
}

@media (max-width: 768px) {
  .parrafo {
    font-size: 20px;
  }
}

.card {
  width: 350px;
}

@media (max-width: 768px) {
  .card {
    width: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.icon {
  width: 60px;
}

.card-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
  font-size: 20px;
}

.card-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
  font-size: 15px;
}

.table-item {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
  padding: 30px;
}

@media (max-width: 768px) {
  .table-item {
    font-size: 15px;
  }
}

tbody {
  padding: 20px;
  border-color: black;
}

tr {
  padding: 30px;
  color: #fa5d5d;
}

.sale {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .sale img {
    width: 150px;
  }
}

footer {
  background-color: #fdb1b1;
}

.footer-items {
  background-color: #fdb1b1;
}

#logo-f {
  width: 150px;
}

h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
}

.footer-items p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
}

.footer-items a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #24245d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #dcf9f9;
}
/*# sourceMappingURL=style.css.map */